* { 
    box-sizing: border-box; 
    overflow-wrap: break-word; 
    word-break: break-all;
    background-color: rgb(41, 40, 40);
    color: white;
    font-family: sans-serif;
}

ul{
    list-style: none;
    padding: 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
}

.contenthead{
    flex: 3;
    justify-content: space-between;
    text-align: center;
}

.social{
    flex: 1; 
    text-align: center;
}

.social > i{
    padding: .45rem
}

.about{
    border: none;
}


/* content*/

.contentwrap{
    display: flex;
    width: 1680px;
}

.content{
    width: 876px;
    margin: 20px;
    text-align: center;
}

.content1{
    border: solid 1px rgb(182, 181, 181);
}

.content1 > button{
    width: 202px;
    height: 44px;
    background-color: rgb(109, 24, 24);
    color: white;
    margin-bottom: 47px;
}

.content1 > section{
    font-size: 12px;
    letter-spacing: 1px;
}

.content1 > h2{
    padding: 0px;
}


.content1 > p{
    font-size: 16px;
    margin: 36px 48px 48px 48px;
}

.content1 > div{
    font-style: italic;
}



.post{
    width: 422px;
    text-align: right;
}


.botImg{
    display: flex;
}

footer{
    text-align: center;
    color: white;
    background-color: black;
    height: 75px;
    border: solid 2px orange;
}

footer > i{
    color:rgb(245, 11, 11);
    border: solid 3px white
}


