* { 
    box-sizing: border-box; 
    overflow-wrap: break-word; 
    word-break: break-all;
    background-color: rgb(41, 40, 40);
    color: white;
    font-family: Lato;
}

ul{
    list-style: none;
    padding: 0;
}

.wrapper{
    display: flex;
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
}

.contenthead{
    flex: 3;
    justify-content: space-between;
    text-align: center;
}

.social{
    flex: 1; 
    text-align: center;
}

.social > i{
    padding: .45rem
}

.about{
    border: none;
}


/* content*/

.contentwrap{
    display: flex;
    width: 1680px;
}

.content{
    width: 876px;
    margin: 60px 36px 92px 175px;
    text-align: center;
}

.content1{
    border: solid 1px rgb(182, 181, 181);
    margin-bottom: 58px;
}

.content1 > button{
    width: 200px;
    height: 44px;
    background-color: rgb(109, 24, 24);
    color: white;
    margin-bottom: 47px;
    border: solid 1px rgb(182, 181, 181);
}

.content1 > section{
    font-size: 12px;
    letter-spacing: 1px;
    padding: 55px 0px 0px 0px;
}

.content1 > p{
    font-size: 16px;
    padding: 0px;
    margin: 36px 48px 48px 48px;
    line-height: 32px;
}

.content2{
    border: solid 1px rgb(182, 181, 181);
    margin-bottom: 58px;
}

.content2 > button{
    width: 200px;
    height: 44px;
    background-color: rgb(109, 24, 24);
    color: white;
    margin-bottom: 47px;
    border: solid 1px rgb(182, 181, 181);
}

.content2 > section{
    font-size: 12px;
    letter-spacing: 1px;
    padding: 55px 0px 0px 0px;
}

.content2 > p{
    font-size: 16px;
    padding: 0px;
    margin: 36px 48px 48px 48px;
    line-height: 32px;
}

.content3{
    border: solid 1px rgb(182, 181, 181);
    margin-bottom: 58px;
}

.content3 > button{
    width: 200px;
    height: 44px;
    background-color: rgb(109, 24, 24);
    color: white;
    margin-bottom: 47px;
    border: solid 1px rgb(182, 181, 181);
}

.content3 > section{
    font-size: 12px;
    letter-spacing: 1px;
    padding: 55px 0px 0px 0px;
}

.content3 > p{
    font-size: 16px;
    padding: 0px;
    margin: 36px 48px 48px 48px;
    line-height: 32px;
}

.content4{
    border: solid 1px rgb(182, 181, 181);
    margin-bottom: 58px;
}

.content4 > button{
    width: 200px;
    height: 44px;
    background-color: rgb(109, 24, 24);
    color: white;
    margin-bottom: 47px;
    border: solid 1px rgb(182, 181, 181);
}

.content4 > section{
    font-size: 12px;
    letter-spacing: 1px;
    padding: 55px 0px 0px 0px;
}

.content4 > p{
    font-size: 16px;
    padding: 0px;
    margin: 36px 48px 48px 48px;
    line-height: 32px;
}

.content5{
    border: solid 1px rgb(182, 181, 181);
    margin-bottom: 58px;
}

.content5 > button{
    width: 200px;
    height: 44px;
    background-color: rgb(109, 24, 24);
    color: white;
    margin-bottom: 47px;
    border: solid 1px rgb(182, 181, 181);
}

.content5 > section{
    font-size: 12px;
    letter-spacing: 1px;
    padding: 55px 0px 0px 0px;
}

.content5 > p{
    font-size: 16px;
    padding: 0px;
    margin: 36px 48px 48px 48px;
    line-height: 32px;
}

.mainhead{
    padding: 0px;
    letter-spacing: 1px;
}


.contentabout{
    display: flex;
    justify-content: space-between;
    border-top: solid 1px rgb(182, 181, 181);
    width: 780px;
    margin-left: 48px;

}

.author{
    font-style: italic;
    text-align: left;
    width: 268px;
    padding: 27px 0px 61px 0px;
}

.icons{
    letter-spacing: 9px;
    text-align: right;
    width: 256px;
    padding: 28px 0px 56px 0px;
}

/*sidebar content*/


.post{
    width: 422px;
    text-align: right;
}

.popular{
    height: 1162px;
    border: solid 1px rgb(182, 181, 181);
    margin-bottom: 45px;
    text-align: center;
}

.popular > h3{
    margin: 44px 0px 24px 0px;
    font-size: 22px;
}

.popular > p{
    text-align: left;
    width: 350px;
    margin-left: 35px;
}

.popular > img{
    margin-top: 7px;
}

.popdate{
    font-style: italic;
    padding-bottom: 25px;
    border-bottom: solid 1px rgb(182, 181, 181);
}

.latest{
    height: 600px;
    border: solid 1px rgb(182, 181, 181);
    margin-bottom: 45px;
    text-align: center;
}

.lastest > h3{
    margin: 39px 0px 27px 0px;
    font-size: 22px;
}
.latepic{
    width: 150px;
}
.lateabout{
    width: 215px;
}


.date{
    font-style: italic;
}

.insta{
    border: solid 1px rgb(182, 181, 181);
    text-align: center;
    height: 694px;
}

.insta > img{
    margin: 5px 5px 5px 5px;
    padding: 0px;
}

.insta > h3{
    margin: 39px 0px 27px 0px;
    font-size: 22px;
}


/*bottom*/
.botImg{
    display: flex;
}

footer{
    text-align: center;
    color: white;
    background-color: black;
    height: 75px;
    border: solid 2px orange;
}

footer > i{
    color:rgb(245, 11, 11);
    border: solid 3px white
}


